
body {
    color: #40514e;
    aabackground-color: #eaf6f6;
    margin: 8px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    afont-size: 2em;
}

h1 {
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-bottom: 0px;

}
h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}


/* display: inline, block, inline-block, none */
#top-container {
    padding-top: 100px;
    position: relative;
}
#x1 {
    position: absolute;
    top: 40px;
    right: 150px;
}
#x4 {
    position: absolute;
    bottom: 300px;
    left: 200px;
}

.profile_image {
    width: 200px;
    border-radius: 100%;
}

/*
.clear {
    clear: left;
}
.clear2 {
    clear: right;
}
*/
.skill_image {
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}
.skill_image2 {
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}
.skill-row {
    margin: 100px auto;
    width: 50%;
    text-align: left;
}
p {
    line-height: 2;
}
/*
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: grey;
    width: 10%;
}
*/
hr {
    border: dotted #eee9e9 10px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

#bottom-container {
    padding: 50px 0 20px;
    background-color: #7bc2c2;
}
.footer-link {
    padding: 10px 20px;
    text-decoration: none;
    color:#498f8f;
}
.footer-link:hover {
    color: #eaf6f6;
}

#middle-container {
    margin: 100px auto;
}


.intro {
    width: 70%;
    margin: auto;
}
.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
} 

.btn:hover {
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}
.btn {
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    padding: 10px 20px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    border-radius: 28px;
    font-size: 1.25rem;
    color: #ffffff;
}
.copyright {
    padding: 10px 0;
}


